body , html{
    background-color: #1e2952;
    /* Código hexadecimal para azul ballena */
    /* o */
    /* background-color: deepskyblue; */
    /* Nombre del color en inglés para azul ballena */
    color: #fff;
    /* Color de texto en blanco para un contraste adecuado */
    scroll-behavior: smooth;
}
a {
    color: white;
}
.contacto-box {
    max-width: 500px; /* Ajusta el ancho máximo del cuadro de contacto según tus necesidades */
    margin: 0 auto; /* Centra horizontalmente el cuadro de contacto */
    padding: 20px; /* Ajusta el espacio interno del cuadro de contacto según tus necesidades */
    background-color:  #232a44; /* Ajusta el color de fondo del cuadro de contacto según tus necesidades */
  }
  